<% include ../../partials/admin/adminHeader.ejs %>
<div class="row">
    <form action="/addstudent" method="post" class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="firstName" type="text" name="firstName" class="validate"  required="" aria-required="true">
          <label for="firstName">First Name</label>
        </div>
        <div class="input-field col s6">
          <input  id="lastName" type="text" name="lastName" class="validate" required="" aria-required="true">
          <label for="lastName">Last Name</label>
        </div>
      </div>
      

      
            
      <div class="row">
        <div class="input-field col s12">
          <input  id="studentNumber" type="text" name="studentNumber" class="validate" required="" aria-required="true">
          <label for="studentNumber">Student Number</label>
        </div>
      </div>
  

 
   <div class="row">
      <div class="input-field col s12">
    <select name="gradeTitle" required="" aria-required="true">
      <option value="" disabled selected></option>
      <option value="1">Grade 1</option>
      <option value="2">Grade 2</option>
      <option value="3">Grade 3</option>
      <option value="4">Grade 4</option>
      <option value="5">Grade 5</option>
      <option value="6">Grade 6</option>
      <option value="7">Grade 7</option>
      <option value="8">Grade 8</option>
      <option value="9">Grade 9</option>
      <option value="10">Grade 10</option>
      <option value="11">Grade 11</option>
      <option value="12">Grade 12</option>
    </select>
    <label>Grade Title</label>
  </div>
  </div>
 
        <div class="row">
      <div class="center-align">
  <button class="btn waves-effect waves-light btn-large" id="submit" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
  </div>
</div>

      
    </form>
  </div>
    
  <script>
    $(document).ready(function() {
    $('select').material_select();
});
  </script>
        


<% include ../../partials/admin/adminFooter.ejs %>
