      <div id="modal<%= teacher.employeeNumber %>" class="modal modal-fixed-footer">
         <div class="modal-content">
            <h4>Add class</h4>            
<div class="row">
    <form id="addClass<%= teacher.employeeNumber %>" action="/addclass/<%= teacher.employeeNumber %>" method="post" class="col s12">

      <div class="row">
        <div class="input-field col s12">
          <input  id="className" type="text" name="className" class="validate" required="" aria-required="true">
          <label for="className">Class Name</label>
        </div>
      </div>
      
            

  
  <div class="row">
      <div class="input-field col s12">
    <select name="block1" required="" aria-required="true">
      <option value="" disabled selected></option>
      <option value="A1">A1</option>
      <option value="B1">B1</option>
      <option value="C1">C1</option>
      <option value="D1">D1</option>
    </select>
    <label>Block 1</label>
  </div>
  </div>
 
 
   <div class="row">
      <div class="input-field col s12">
    <select name="block2" required="" aria-required="true">
      <option value="" disabled selected></option>
      <option value="A2">A2</option>
      <option value="B2">B2</option>
      <option value="C2">C2</option>
      <option value="D2">D2</option>
    </select>
    <label>Block 2</label>
  </div>
  </div>


           </form>
  </div>    
  
       </div>
         <div class="modal-footer">
            <a form="addClass" id="submit<%= teacher.employeeNumber %>" class="modal-action modal-close waves-effect waves-green btn-flat">ADD</a>
         </div>
          
          
                </div>
