<% include ../../../partials/teacher/class/classHeader.ejs %>
<div class="row">
    <form action="/addstudenttoclass/<%= classId %>" method="post" class="col s12">


      
            
      <div class="row">
        <div class="input-field col s12">
          <input  id="studentNumber" type="text" name="studentNumber" class="validate" required="" aria-required="true">
          <label for="studentNumber">Student Number</label>
        </div>
      </div>
  

 
  
  </div>
 
        <div class="row">
      <div class="center-align">
  <button class="btn waves-effect waves-light btn-large" id="submit" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
  </div>
</div>

      
    </form>
  </div>
    
  <script>
    $(document).ready(function() {
    $('select').material_select();
});
  </script>
        


<% include ../../../partials/teacher/class/classFooter.ejs %>
